/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

/* body  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3d3d3d;
    font-family: 'lato', sans-serif;
}


/* header  */
header{
    background-color: rgb(234 234 234);
    position: fixed;
    padding: 0% 1rem;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}

header h1 {
    color: rgb(127, 187, 9); 
}

h1 span {
    color: orangered
}

.menu {
    list-style-type: none;
    align-items: right;
    font-size: 120%;
    letter-spacing: 3px;
}

.menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: #3d3d3d 1px solid;
}

.login-btn {
       
    border: none;       
    background-color: white;
    font-size: 100%;
    letter-spacing: 3px;
    color: #3d3d3d;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.toggle-label {
    font-size: 2rem;
}

.hero {
    background: url(/assets/images/hero-pic.jpeg) no-repeat center center / cover;
    width: 100%;
    height: 600px;
    position: relative;
}

/* search bar  */
.search-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    border: 2px solid rgb(234 234 234);
    border-radius: 25px;
    overflow: hidden;
    top: 40px;
    left: 5%;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.search-btn {
    background-color: rgb(234 234 234);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.search-btn img {
    width: 16px;
    height: 16px;
}

.search-btn:hover {
    background-color: rgba(191, 189, 189, 0.643);
}

.cover-text {
    position: absolute;
    bottom: 19px;
    width: 90%;
    min-height: 174px;
    background-color: rgb(43 43 43 / 48%);
    font-size: 131%;
    color: rgb(255 255 255);
    padding-left: 10px;
    margin-left: 5%;
}

.cover-text h1 {
    margin-bottom: 0.5em;
}

/* main  */
main {
    flex: 1 0 auto;
    background-color: #ffffff;
    margin-top: 19px;
}

.about h2 {
    text-align: center;
    padding-top: 1rem;
}

.who-we-are, .what-we-do {
    padding: 10px;
    text-align: justify;
}

.info img {
    width: 100%;
}

/* footer */
.social-media {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 20px;
    list-style-type: none;
    background-color: rgb(234 234 234);
    margin-top: auto;
}

.social-media i {
    color: #3d3d3d;
    font-size: 150%;
}

/* media queries */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
        background-color: rgb(234 234 234);
    }

    .menu {
        display: flex;
        font-size: 87%;
    }

    .menu li {
        padding-left: 1rem;
    }
    
    .toggle-label {
        display: none;
    }

    main {
        margin-top: 35px;
        flex: 1 0 auto;
    }

    .logo {
        margin-top: 0.8rem;
    }

    .login-btn {
       
        border: none;       
        border-radius: 25px; 
        padding: 10px 20px;  
        font-size: 14px;      
        cursor: pointer;   
        margin-top: -1rem;   
    }

    .login {
        background-color: rgba(134, 134, 134, 0.327);
        color: #3d3d3d;         
    } 

    .signup {
        background-color: rgba(134, 134, 134, 0.327); 
        color: #3d3d3d;         
    } 

    .signup:hover {
        background-color: orangered; 
        color: white;
    }
    
    .login:hover {
        background-color: orangered; 
        color: white;
    }

    /* main section  */
    .who-we-are, .what-we-do {
        padding: 20px;
    }

    .about h2 {
        margin: 20px 0;

    /* footer */
    .social-media {
        padding: 20px 120px;
    }

}

/* media queries for larger screens */
@media screen and (min-width: 992px) {
    /* make font bold  */
    .menu {
        font-weight: bolder;
    }

    .login-btn{
        font-weight: bolder;
    }

    .menu li {
        padding-left: 2rem;
    }

    /* search bar  */
    .search-container {
        width: 47.5%;
        top: 50px;
        left: 49.9%;
    }

    .cover-text {
        width: 49%;
        margin-left: 3%;
    }

    /* main section  */
    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2%;
    }

    .what-we-do {
        order: 2;
    }

    /* footer */
    .social-media {
        padding: 20px 500px;
        font-size: 130%;
    }
}

/* media queries for larger screens 1024*/
@media screen and (min-width: 1024px) {
    .social-media {
        padding: 20px 150px 20px 150px;
    }
}