/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

/* body  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* header  */
header{
    background-color: gray;
    font-size: 150%;
    display: flex;
}

header a {
    text-decoration: none;
    
}

h1 {
    font-family: 'Rubik', sans-serif;
}

header h1 {
    color: rgb(7, 252, 40);
}

h1 span {
    color: rgb(234, 255, 0);
    font-weight: bold;
}

/* main  */
main {
    flex: 1 0 auto;
}


/* footer */
footer{
    background-color: gray;
}